@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.sarri:hover {
  background-color: white;
  color: rgb(25, 74, 25);
  border: 2px solid rgb(25, 74, 25);
  border-radius: 50px;
  transform: scale(1);
  transition: all ease-in-out;
  font: bold;
}

.signUp:hover {
  background-color: white;
  border: 3px solid;
  border-color:rgb(25, 74, 25);
  color: rgb(25, 74, 25);
  border-radius: 50px;
  transform: scale(1);
  transition: all;
}